.App {
  text-align: center;
}

.App {
  text-align: center;
}


.footer{
  background-color: black;
  position: sticky;
}

.list-group-item{
  align-content: center;
  list-style: none;
  justify-content: space-between;
}

.pagination{
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5px;
  background-color: dimgrey;
  color: white;
  list-style: none;
  order: 10;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: dimgrey;
  color: white;
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.Link{

  color:black;
  text-align: center;
  justify-content: space-around;

}

.p{
  position: sticky;
  background-color: beige;
  
  border-style: solid;
  border-width: 4px;
  font-size: 18px;
}
